@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="weekOrdering">
   @await Component.InvokeAsync("OrderingHours", new { datetime = DateTime.UtcNow.Date })
</section>
<section id="doctors">
    <span class="display-6">All Doctors:</span>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    @await Component.InvokeAsync("DoctorList", new { doctors = Model.Doctors })
    </div>
</section>
<section id="doctorsOrdering" class="col-sm-8">
    <span class="display-6">Month of Ordering Hours</span>
    @{
        var currentDate = DateTime.UtcNow;
    }
    @await Component.InvokeAsync("OrderingHour", new { year = currentDate.Year, month = currentDate.Month})
</section>